/* WIDTH CLASSES */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.col-25 {
  width: 25%;
}
.col-50 {
  width: 50%;
}
.col-75 {
  width: 75%;
}

/* FONT WIGHT CLASSES */
.f-weight1 {
  font-weight: 100;
}
.f-weight2 {
  font-weight: 200;
}
.f-weight3 {
  font-weight: 300;
}
.f-weight4 {
  font-weight: 400;
}
.f-weight5 {
  font-weight: 500;
}
.f-weight6 {
  font-weight: 600;
}
.f-weight7 {
  font-weight: 700;
}
.f-weight8 {
  font-weight: 800;
}
.f-weight9 {
  font-weight: 900;
}

/* INLINE-BLOCK */
.inline-block {
  display: inline-block;
}

/* INLINE */
.inline {
  display: inline;
}

/* BLOCK */
.block {
  display: block;
}

/* RELATIVE */
.p-relative {
  position: relative;
}

/* IMAGE */
img {
  display: block;
  max-width: 100%;
}

/* ROW */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--gutter-width));
}

/* FLOAT */
.float-right {
  float: right;
}
.float-left {
  float: left;
}

/* DISPLAY FLEX */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}
.flex-rowrev {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-columnrev {
  flex-direction: column-reverse;
}

/* JUSTIFY-CONTENT */
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* ALIGN ITEMS */
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

/* ALIGN CONTENT */
.align-c-start {
  align-content: flex-start;
}
.align-c-end {
  align-content: flex-end;
}
.align-c-center {
  align-content: center;
}
.align-c-between {
  align-content: space-between;
}
.align-c-around {
  align-content: space-around;
}
.align-c-evenly {
  align-content: space-evenly;
}

/* TEXT ALIGN */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* transform: rotateXYZ(300deg); */
/* transform: scale| |XY(1.3); */
/* transform: skew| |XY(30deg); */
/* transform: translate| |XY(20px, 10px); */
