/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");

/* ROOT */
:root {
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-kolker: "Kolker Brush", cursive;
  --font-water: "Water Brush", cursive;
  --primary: #00c194;
  --secondary: #0e2e50;
  --primary-dark: #00a47e;
  --white: white;
  --secondary: #6c757d;
  --transition02: all 0.2s linear;
  --transition03: all 0.3s linear;
  --transition05: all 0.5s linear;
  --gutter-width: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  cursor: none;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
section {
  padding: 60px 0;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 13px 40px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 var(--gutter-width);
}

/* LOADER */
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #00a47e 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #00a47e);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.5s infinite linear;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}
@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

/* SCROLL-TOP */
.scroll-top {
  border-radius: 5px;
  padding: 10px 12px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  z-index: 99;
  display: none;
}
.scroll-top i {
  color: var(--white);
}
main {
  display: none;
}
.pro-img {
  overflow: hidden;
}
.pro-img img {
  height: 100%;
  width: 100%;
  transition: var(--transition03);
}
.pro-card:hover .pro-img img {
  transform: scale(1.1);
}
.pro-type {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #00c194;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.4rem 0.9rem;
  border-radius: 3px;
  font-weight: 500;
  font-family: var(--font-roboto);
}
.pro-type::before {
  content: "";
  width: 3.5rem;
  height: 2.5rem;
  top: -2.1rem;
  left: 1.1rem;
  background-image: url(../images/listing-label.svg);
  background-repeat: no-repeat;
  position: absolute;
}
.pro-badge {
  position: absolute;
  top: 1.9rem;
  right: 2rem;
  color: var(--white);
  font-size: 0.9rem;
}
.pro-badge span:nth-child(1) {
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  background-color: #add8e6;
  font-family: var(--font-roboto);
}
.pro-badge span:nth-child(2) {
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  background-color: #17a2b8;
  font-family: var(--font-roboto);
}
.pro-price {
  position: absolute;
  left: 1.5rem;
  bottom: 1.8rem;
  font-size: 1.5rem;
  color: var(--white);
}
.pro-price i {
  padding-right: 0.2rem;
}
.pro-action {
  position: absolute;
  right: 2rem;
  bottom: 0;
  visibility: hidden;
  transition: var(--transition03);
}
.pro-action a {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 0.1rem;
  border: none;
  border-radius: 0.2rem;
}
.pro-action a i {
  color: var(--white);
}
.pro-action a:hover {
  background-color: var(--white);
}
.pro-action a:hover i {
  color: var(--primary-dark);
}
.pro-card:hover .pro-action {
  visibility: visible;
  transform: translateY(-2.5rem);
  transition: var(--transition03);
}
.number {
  background-color: #0e2e50;
  background-image: url(../images/counter-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 150px;
}
.num-heading {
  text-align: center;
  font-family: var(--font-ubuntu);
  color: var(--white);
}
.num-heading span {
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  z-index: 5;
}
.num-heading span::before {
  content: "numbers";
  position: absolute;
  top: -3.5rem;
  left: 3rem;
  z-index: -10;
  font-family: var(--font-water);
  color: rgba(12, 3, 70, 0.5);
  font-size: 10rem;
}
.num-heading p {
  font-size: 1.3rem;
  padding-top: 0.7rem;
  padding-top: 3.5rem;
}
.number .counter {
  text-align: center;
  padding: 80px 0;
}
.number .counter p {
  font-family: var(--font-roboto);
  font-size: 4rem;
  font-weight: 500;
  color: var(--white);
}
.number .counter span {
  font-family: var(--font-roboto);
  font-size: 4rem;
  font-weight: 400;
  color: var(--white);
}
.number .counter h4 {
  font-family: var(--font-ubuntu);
  font-size: 1rem;
  color: var(--white);
}
/* AGENT STARTS HERE */
.agent-heading {
  font-family: var(--font-roboto);
  margin: 1rem 0;
}
.agent .agent-heading p {
  color: var(--primary);
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
}
.agent .agent-heading span {
  font-size: 1.5rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
}
.agent .agent-heading p::before {
  content: "Our Agents";
  font-family: var(--font-water);
  color: var(--primary);
  opacity: 0.3;
  font-size: 5rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 0rem;
  left: calc(50% - 12rem);
  z-index: -1;
}
.agent .row {
  padding-top: 3rem;
}
.agent-card .agent-img {
  overflow: hidden;
  border-radius: 200px 200px 200px 0px;
  -moz-border-radius: 200px 200px 200px 0px;
  -webkit-border-radius: 200px 200px 200px 0px;
  border: 0px solid #000000;
}
.agent-card .agent-img img {
  transition: var(--transition03);
}
.agent-card:hover .agent-img img {
  transform: scale(1.1);
}
.listing {
  font-family: var(--font-ubuntu);
  position: absolute;
  left: 2rem;
  top: 16rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  background-color: var(--primary);
  color: var(--white);
}
.listing i {
  font-size: 0.5rem;
  margin: 5px;
}
.agent-card .icon1 {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition: var(--transition03);
  background-color: var(--primary-dark);
  color: var(--white);
  padding: 1rem;
  border-radius: 50%;
}
.icon1 i {
  font-size: 1.2rem;
}
.agent-card:hover .icon1 {
  display: block;
}
.agent-info {
  font-family: var(--font-ubuntu);
}
.agent-info .title {
  padding: 0.8rem 0;
  font-size: 1.5rem;
  transition: var(--transition03);
}
.agent-info .title:hover {
  color: var(--primary-dark);
  transition: var(--transition03);
}
.agent-info .sub-title {
  padding: 0 0 0.8rem 0;
  color: #788593;
  font-size: 1rem;
  transition: var(--transition03);
}
.agent-info .sub-title:hover {
  color: var(--primary-dark);
}
.agent-info .desc i {
  background-color: #dceeea;
  color: var(--primary-dark);
  padding: 0.7rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.agent-info .desc {
  color: #788593;
}
.agent-info .desc a {
  color: #788593;
  transition: var(--transition03);
}
.agent-info .desc a:hover {
  color: var(--primary-dark);
}
/* AGENT ENDS HERE */
